here* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: url('https://img.freepik.com/free-vector/flat-design-mountain-landscape-with-clouds-birds_23-2148196144.jpg') no-repeat center center/cover;
}

.login-box {
    width: 350px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1); /* تأثير الزجاج الشفاف */
    backdrop-filter: blur(15px); /*  التغبيش */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.input-group input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #5c7c99;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.forgot, .footer-text {
    margin-top: 10px;
    font-size: 13px;
    color: white;
    text-decoration: none;
}
